html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: rgba(99, 99, 99, 0);
  background-image: url("../images/capture.png");
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  background-color: rgba(230, 230, 230, 0.90);
  border-radius: 30px;
  margin: 0 30%;
  box-shadow: 0 10px 30px black;
}
.form-signin .checkbox {
  opacity: 100%;
  font-weight: 400;
}

.form-signin .error{
  color: red;
}
.form-signin .form-control {
  opacity: 100%;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  opacity: 100%;

  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  opacity: 100%;

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  opacity: 100%;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}